<div class="wrapper">
    <h1>Experience</h1>
    <div class="entry-item">
        <h3><strong>IBM, </strong>Full Stack Developer</h3> 
        <h4>September 2019 - December 2019</h4>
        <p>I created guides for OpenLiberty, an open-source framework for building cloud-native Java microservices</p>
        <p>Main author for a guide to setting up a Kafka cluster with Open Liberty. I also wrote a guide for creating a reactive application with RxJava and Jersey</p>
        <p>Developed and maintained tools to monitor traffic and metadata for the organization's guides</p>
    </div>
    
    <div class="entry-item">
        <h3><strong>IBM, </strong>Security Software Developer</h3>
        <h4>September 2018 - December 2018</h4>
        <p>Designed employee lookup tool that uses data from an input file to extract data from internal company media page</p>
        <p>Created a tool to automate the approval process of the usage of third-party libraries using Python and Jenkins</p>
        <p>Integrated automatic reminders for Zenhub tasks using Slack and Jenkins</p>
    </div>
    
    <div class="entry-item">
        <h3><strong>Finastra, </strong>Developer</h3>
        <h4>January 2018 - April 2018</h4>
        <p>Contributed to file import/export module of payment collection service</p>
        <p>Refactored tests using Entity Framework</p>
    </div>
    
    <div class="entry-item">
        <h3><strong>SM Research, </strong>Software Developer</h3>
        <h4>May 2017 - August 2017</h4>
        <p>Created software of new model of PCR machine using WPF/.NET</p>
        <p>Designed custom user controls that model real-world lab equipment such as a data grid that models a 12x12 tray of test tubes</p>
    </div>
    
    <div class="entry-item">
        <h3><strong>Royal Bank of Canada, </strong>Technical QA Analyst</h3>
        <h4>September 2016 - December 2016</h4>
        <p>Planned solutions to reduce space constraints in test environment, freeing 2 TB of storage in Teradata database</p>
        <p>Automated test setup and execution for QA team</p>
    </div>
</div>
