<header class="site-header">
    <div class="wrapper">
      <ul class = "header-list">
        <li id = "title-container">
          <a id="site-title" href="/">{{ site.title }}</a>
        </li>
        <li>
          <a class="resume" href="https://github.com/jonathanxue" target="_blank">
            <span class="icon">{% include icon-github.svg %}</span>
          </a>
        </li>
        <li>
          <a class="resume" href="https://linkedin.com/in/xue-jonathan" target="_blank">
            <span class="icon">{% include icon-linkedin.svg %}</span>
          </a>
        </li>
        <li>
          <a class="resume" href="Resume.pdf" target="_blank"><span class="icon">{% include icon-resume.svg %}<span class = "fading-span">Resume</span></a></span>
        </li>
      </ul>

      <nav class="site-nav">
        <div class = "trigger">
          <a class = "page-link" href = "/portfolio">Portfolio</a>
        </div>
        <div class = "trigger">
          <a class = "page-link" href= "/blog">Blog</a>
        </div>
      </nav>
    </div>
  </header>
  