/**
 * Site header
 */
.site-header {
    min-height: 56px;
    border-bottom: 1px solid $border-color;
    background-color: $meta-color;
    position: fixed;
    width: 100%;
    top:0px;
    z-index: 10;
}

#site-title {
    font-size: 26px;
    font-weight: 300;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    color: $header-font-color;
    text-decoration: none;
}

#title-container {
    border-left:none;
    padding-right: 5px;
}

.header-list {
    list-style: none;
    z-index:10;
    margin-bottom: 0;
    line-height: 56px;
    float: left;
    vertical-align: baseline;
    > li {
        //padding-left:3px;
        padding: 0 3px;
        display: inline;
        border-left: 2px solid $border-color;
    }
}

.resume {
    //This is some stupid hack to get rid of weird spaces
    font-size: 0;
    > span {
        font-size: $base-font-size;
    }
}

.fading-span {
    @include media-query($on-palm) {
        visibility: hidden;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    > div {
        display: inline-block;
    }

    .page-link {
        color: $header-font-color;
        line-height: $base-line-height;
        min-width: 50px;
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    .trigger {
        padding: 0 10px;
        box-sizing: border-box;
        border: 2px solid $meta-color;

        &:hover {
            background-color: $brand-color;
            border: 2px solid $brand-color;
        }

        &:active {
            background-color: #4e536e; //offset of brand-color
            border: 2px solid #4e536e;
        }
    }


    @include media-query($on-palm) {
        position: absolute;
        right: $spacing-unit / 2;
        border-radius: 5px;
        text-align: right;

        .trigger {
            width: 10;
            padding: 0 1px;
        }

        .page-link {
            padding: 0;
            min-width: 30px;
            box-sizing: border-box;
            font-size: smaller;
            &:not(:last-child) {
                margin-right: 0;
            }
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    width: 100%;
    min-height: 5vh;
    border-top: 1px solid $border-color;
    padding: $spacing-unit 0;
    background-color: $meta-color;
    display: inline-block;
    z-index: 10;
    position: relative;
}

.footer-heading {
    font-size: 18px;
    //margin-bottom: $spacing-unit / 2;
}

.personal-links {
    list-style: none;
    > li {
        padding: 0 5px;
        display: inline;
        border-left: 2px solid $border-color;
    }
}

.footer-wrapper {
    font-size: 15px;
    margin-left: -$spacing-unit/2;
    @extend %clearfix;
}

.icon-text {
    display: inline-flex;
    color: $grey-color-dark;
}

#copyright {
    border-left: none;
    color: $grey-color-dark;
}

/**
 * Page content
 */
.page-content {
    top:50px;
    height: auto;
    min-height: 95vh;
    position:relative;
    padding: 2% 0;
    padding-bottom: 5%;
    box-sizing: border-box;
    z-index: 1;

    @media only screen and (max-width: 700px) {
        padding: 5% 0;
        padding-bottom: 10%;
    }
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}


/**
* Blog Posts
*/
.blog-entry {
    display: inline-block;
}

/**
* Sections
*/
.entry-item {
    background-color: $brand-color;
    padding: $spacing-unit;
    margin: $spacing-unit;
    border: 1px solid $border-color;
}


/**
* Home Page
*/
.button {
    width: 100%;
    height: 50%;
    position: fixed;
    z-index:0;
    background-color: rgba(46, 49, 65, 0.75);
    box-sizing: border-box;
    text-align: center;

    &:hover {
        background-color: rgba(46, 49, 65, 0.5);
    }
    &:active {
        background-color: rgba(46, 49, 65, 0.25);
    }
}

.above {
    top: 0px;
}

.below {
    bottom: 0px;
}

.menu-button {
    display: inline-block;
    position: relative;
    top: 50%;
    opacity: 1;
    > h1 {
        font-size: $base-font-size * 3;
        color:#ffffff;
        border-bottom: 2px solid #ffffff;
        padding-left: 10px;
        border-left: 2px solid #ffffff;
        z-index: 10;
        position:relative;
    }
}

.home-banner {
    background-color: rgba($color: #2f312f, $alpha: 0.9);
    height: 100%;
    min-width: 350px;
    position: fixed;
    box-sizing: border-box;
    left: 3%;
    text-align:center;

    @media only screen and (max-width: 1000px) {
        min-width: 175px;
        h1, h2 {
            font-size:  $base-font-size;    
        }
        #main-image {
            width: 150px;
            height: 150px;
        }
    }

    @media only screen and (max-width: 650px) {
        visibility: hidden;
    }
}

.home-banner-content {
    position: relative;
    transform:translate(0, 40%);
    > h1 {  
        width: auto;
        overflow: wrap;
        border-bottom: 2px solid #ffffff;
        margin-top: 10%;
    }
}

#main-image {
    width: 300px;
    height: 300px;
    border-radius: 150px;
    border: 2px solid $border-color;
}

#background-image {
    background-image: linear-gradient(to top, rgba(0,0,0, 0), rgba(255, 255, 255, 0)), url("../images/bg.jpg");
    background-position: center, center;
    background-repeat: no-repeat;
    background-size: auto, cover;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1; 
    @media only screen and (max-width: 325px) {
        body {
          width: 325px !important; } }
}