<!DOCTYPE html>
<html>
    {% include head.html %}
    <body>
        <div id="background-image"></div>
        <!--{% include header.html %}-->
        <div class="home-grid">
            
        </div>
        <a class = "button above" href="portfolio.html">
            <div class = "menu-button">
                <h1>My Portfolio</h1>
            </div>
        </a>
        <a class = "button below" href="blog.html">
            <div class = "menu-button">
                <h1>Dev Log</h1>
            </div>
        </a>
        <div class = "home-banner">
            <div class = "home-banner-content">
                <img id = "main-image" src = "images/testprojectile.png">
                <h1>Jonathan Xue</h1>
                <h2>Developer</h2>
            </div>
        </div>
    </body>
</html>